
build/classes/app_config.properties

.classpath

.settings/com.genuitec.eclipse.j2eedt.core.prefs

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.component

bin/app_jdbc.properties

bin/*

.settings/.jsdtscope

build/*
